/* regole generali di pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    padding-top: 200px;
    padding-bottom: 100px;
}

/* regole header*/
header{
    height: 100px;
    background-color: red;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
}


/* blocchi prodotto*/
.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5%;
}

.product{
    width: 32%;
    margin-bottom: 20px;
    background-size: contain;
    position: relative;
    /* DE BUG*/
    /*height: 200px;*/
    /*background-color: beige;*/
   /*border: 1px solid black;*/
}

.product img{
    max-width: 100%;
}

/* blocchi discount*/
.discount-label{
    padding: 1%;
    background-color: red;
    color: #fff;
    position: absolute;
    bottom: 20%;
    left: 0;  
}

.sostenibile{
    padding: 1%;
    background-color: green;
    color: #fff;
    position: absolute;
    bottom: 20%;
    right: 60%;  
}

/*dettagli prodotti*/
.brand-name{
    font-size: small;
}

.detail-brand{
    font-weight: bold;
}

.price{
    color: red;
    font-weight: bold;
}

.old-price{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
}







/* regole footer*/
footer{
    height: 150px;
    background-color: black;
    width: 100%;

}